*{
    border: 0px;
    margin: 0px;
    padding: 0px;
}
header{
    background-color: #30343f;
    width: 100vw;
}
#nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav__div{
    margin: 1.5rem;
}
#nav__ul{
    display: flex;
}
.nav__li{
    margin: 20px;
    padding-right: 10px;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}