*{
    padding: 0;
    margin: 0;
    border: 0;
}
.footer{
    background-color: #30343f;
    display: flex;
    justify-content: space-around;
    color: whitesmoke;
    padding: 20px;
}
.footer__div{
    align-self: center;
}
.footer__ul{
    list-style: none;
}
.footer__a{
    text-decoration: none;
    color: whitesmoke;
}
.footer__a:hover{
    color: gray;
}
.footer__p{
    align-self: end;
}
.footer__li{
    padding: 1px;
    
}
